.about{
    padding: 6rem 3rem 15rem 3rem;
    background: #f8f8f8;
  }
  .row{
    display: flex;
    justify-content: space-around;
  }
  .row .column{
    width: 40%;
  }
  .column .tabs{
    display: flex;   
  }
  .single-tab{
    background: white;
    margin-right: 10px;
    cursor: pointer;
  }
  .single-tab h2{
    display:block;
    padding: 10px 16px;
    border-radius: 4px;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 600;
  }
  .about-img{
    position: relative;
    background-image: url("/src/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 110%;
  }
  .content{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: none;
  }
  
  
  .active-content{
    display: block;
  }
  .active-tab{
    background: #393939;
    position: relative;
  }
  .active-tab::before{
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #393939 transparent transparent transparent;
  }
  .active-tab h2{
    color: white;
  }
  .content h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  .content p{
    padding-bottom: 1rem;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999;
  }
  .content h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  /* Contact CSS */
  .exp-column h3{
    margin-bottom: 10px;
  }
  .exp-column span{
    font-weight: 500;
    color: #000000;
  }
  .exp-column p{
   margin-top: 10px;
  }
  @media screen and (max-width:768px) {
    .about{
        padding: 2rem 1rem 3rem 1rem;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .about-img{
        height: 500px;
    }
    .row .column{
        width: 100%;  
    }
    .tabs{
        padding-top: 3rem;
    }
    .skills-row{
        grid-template-columns: 1fr;
    }
  }
  .icon {
    color: rgb(0, 0, 154);
    font-size: 30px;
    margin-right: 10px;
  }
  
  .instagram-icon {
    font-size: 30px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
  }
  .phone-icon {
    font-size: 30px;
    margin-right: 10px;
    color: rgb(0, 199, 7);
  }