.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

.CardItem {
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

.fullscreen{
  background-color: white;
}

.popup-right-side{

  border-color: azure;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
