.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
  }
  
  .CardItem {
    width: calc(25% - 10px);
    margin-bottom: 20px;
  }
  
  .fullscreen{
    background-color: white;
  }
  
  .popup-right-side{
  
    border-color: azure;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  h1 {
      font-size: 70px;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      color: #b393d3;
      text-transform: uppercase;
      text-shadow: 1px 1px 0px #957dad,
                   1px 2px 0px #957dad,
                   1px 3px 0px #957dad,
                   1px 4px 0px #957dad,
                   1px 5px 0px #957dad,
                   1px 6px 0px #957dad,
                   1px 10px 5px rgba(16, 16, 16, 0.5),
                   1px 15px 10px rgba(16, 16, 16, 0.4),
                   1px 20px 30px rgba(16, 16, 16, 0.3),
                   1px 25px 50px rgba(16, 16, 16, 0.2);
    }
    